<h1> Add a new definition to $word.getName()<h1>

<form action="/word/$word.getId()" method="post">
  input name="wordId" type="hidden" value=$artist.getId()"

  <div class="form-group"
    <label for="description"> Description:</label>
    <Input id="Description" name="description" type="text" class="form-control">
  </div>

  <button type="submit" class="btn btn-success">Add Description</button>
