<h1> Add a word to my dictionary!</h1>

<h3> please add word below</h3>

<form action = "/" method= "post">
  <div class = 'form-group'>
    <label for= 'user-word'>New Word:</label>
    <input id = 'user-word' name='user-word' class= 'form-control' type='text'>
  </div>
  <button type= 'submit' class='btn btn-success'>Submit</button>
</form>

<a href = "/">Go back to dictionary</a>
